.link {
  display: inline-block;
  width: 105px;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px 20px;
  margin: 0 20px;
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: 600;
  color: black;
  background-color: var(--primary-color);
}

.link:active {
  background-color: rgb(255, 102, 0);
  color: #fff;
}

.title {
  text-align: center;
  margin: 20px 20px 30px;
  font-size: 20px;
  font-weight: 500;
}

.wrapper {
  margin: 20px 20px 40px;
  width: 300px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    margin: 20px auto 40px;
  }
}
