@import '../../variables.css';

.button {
  border: none;
  outline: none;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: 600;
  background-color: var(--primary-color);
}

.background {
  min-height: 100vh;
  padding: 90px 50px 10px;
  background-color: rgb(41, 41, 41);
}
