.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 80px;
  justify-content: center;
}

.photo {
  border-radius: 4px;
}

.name {
  text-align: center;
  margin: 10px 0 0 0;
}
